<div class="container mt-1" *ngIf="items$ | async; let items">
    <h2 class="mb-3">{{ 'your-cart' | translate }}</h2> 
    <ul class="list-group mb-3" *ngIf="items.length; else noItems">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items">
        <button [ngStyle]="{'background-color': 'white'}"  class="btn btn-md" (click)="remove(item.id)">
          <img src="https://image.freepik.com/free-icon/trash-bin-symbol_318-10194.jpg" height="25px" width="25px" />
        </button>
        <div>
          <h6 class="my-0">{{ item.name }}</h6>
        </div>
        <div>
          <span class="text-muted">{{ item.price | currency: item.currency }}</span>
        </div>
        <div>
          <div class="form-row">
            <div class="col-4 text-right">
              <button type="button" class="btn btn-sm" (click)="downQuantity(item.id)" [disabled]="item.quantity === 0">
                -
              </button>
            </div>
            <div class="col-4">
              <input name="quantity" class="form-control form-control-sm" type="number" placeholder="0" [(ngModel)]="item.quantity">
            </div>
            <div class="col-4 text-left">
              <button type="button" class="btn  btn-sm" (click)="upQuantity(item.id)" [disabled]="item.stock === 0"> +
              </button>
            </div>
          </div>
        </div>
        <span class="text-muted">{{ item.price * item.quantity | currency: item.currency}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between" [ngStyle]="{'background-color': 'black', 'color': 'white'}">
        <span>Total</span>
        <strong>{{ getTotalAmount(items) | number}}</strong>
      </li>
    </ul>
  </div>
  
  <ng-template #noItems>
    <h3 class="text-center">{{ 'no-items' | translate }}</h3>
  </ng-template>