<div class="container">
  <h3>{{ 'items-list' | translate : language}}</h3>
  <div>{{ 'checkbox-available' | translate : language }}
      <input type="checkbox" [(ngModel)]="filterActive" />
  </div>
  <span>
      Filtar por texto:
    <input type="text" [(ngModel)]="filterText">
  </span>
  <div class="row">
        <ul class="list-group-item">
          <li class="list-group-item" *ngFor="let item of items | filterItems: filterActive : filterText" [class.disabled]="!item.available" (click)="onSelectedItem(item)">
              <span>{{item.name}} </span>
          </li>
        </ul>
  </div>
  </div>