  <div class="container my-3" >
    <h3>{{ 'item-detail-title' | translate }}</h3>
    <div class="row border rounded">
      <div class="col text-center">
          <img class="card-img-top w-50" [src]="item.img" alt="Card image cap" style="width: 18rem;">
      </div>
      <div class="col pr-0">
        <div class="card border-0">
          <div class="card-body">
            <p class="card-text">{{ 'name-text' | translate }} {{item.name}}</p>
            <p class="card-text"> {{ 'description-text' |  translate }} {{item.description}}</p>
            <p  class="card-text"> {{ 'price-text' |  translate }} {{ item.price | currency : item.currency }}</p>
            <p class="card-text" style="color: red;" *ngIf="!item.available"> {{ 'not-available-text' |  translate }}</p>
            <p class="card-text" style="color: green;" *ngIf="item.available"> {{ 'available-text' |  translate  }}</p>
          </div>
          <div>
              <div class="row">
                <div class="col-9">
                  <button type="button" class="btn btn-block" (click)="addToCart()"  [ngStyle]="{'background-color': 'black', 'color': 'white'}">
                    {{ 'add-cart' | translate }} </button>
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-md" (click)="removeFromCart()" [ngStyle]="{'background-color': 'white'}">
                      <img src="https://image.freepik.com/free-icon/trash-bin-symbol_318-10194.jpg" height="25px" width="25px"/>
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
